html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}
body {
  background: rgb(94, 18, 18);
  background: linear-gradient(
    135deg,
    rgba(94, 18, 18, 1) 0%,
    rgba(31, 8, 8, 1) 42%,
    rgba(10, 2, 2, 1) 100%
  );
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  max-width: 500px;
  padding: 0 24px;
}

.content img {
  max-width: 100%;
}

.content p {
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  font-family: "Lato", serif;
  font-style: italic;
}
